<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AirMall.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
				<key>dateExpires</key>
				<string>2021/3/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BGFMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HMQRCodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LBXScan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PGDatePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PGPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SAMKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCLAlertView_Objective_C.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLCipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WebViewJavascriptBridge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E46D7B75F9403E8B9C75B01FE1F0161F9CCF90A1</string>
						<key>dateExpires</key>
						<string>2021/3/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZBarSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RPZ7568R2S</string>
						<key>name</key>
						<string>China United Airlines CO.,LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RPZ7568R2S.com.cua.cuaapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RPZ7568R2S</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>RPZ7568R2S.com.cua.cuaapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>AirMall.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>941471b1-62e6-4e7d-9467-d034faa1df40</string>
				<key>name</key>
				<string>cuaapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RPZ7568R2S</string>
				<key>name</key>
				<string>China United Airlines CO.,LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
